body {
  max-width: 100vw;
}
/* Barra de Nagevação */

.navBar {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px rgba( 50, 50, 50, .2);
}

.limit {
  height: 100%;
  width: 100%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.limit img {
  width: 50px;
  height: 40px;
}

.limit ul {
  height: 100%;
  display: flex;
  gap: 20px;
  font-size: medium;
}

.limit ul li {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}
.limit ul li:hover {
  color: #28c3df;
  cursor: pointer;
}


/* Init */

.init {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(90deg, #111 60%, #03262b);
}

.apresentation {
  padding: 80px 0;
  display: flex;
  width: 100%;
  max-width: 900px;
  color: white;
  justify-content: space-between;
  position: relative;
}

.textApresentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 70%;
}

.textApresentation label {
  flex-wrap: wrap;
}

.textApresentation h2 {
  color: #1790a5;
  font-weight: bold;
}

.textApresentation h1 {
  font-size: 2.5em;
  font-weight: bold;
}
.textApresentation > h1 > span {
  color: #28c3df;
}

.textApresentation h3 {
  font-weight: 100;
  font-size: small;
  line-height: 23px;
}

.apresentation img {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(200px);
}

