.containerBody {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10vw;
  margin-top: 3%;
  grid-template-areas:
    'sobreMim sobreMim .'
    '. cursos cursos'
    'estudos estudos .'
  ;
}

.perfil {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sobreMim {
  color: #ffffff;
  font-size: 2vw;
  grid-area: sobreMim;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cursos {
  color: #ffffff;
  font-size: 2vw;
  grid-area: cursos;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .imgCertificados {
    order: +1;
  }
}

.estudos {
  color: #ffffff;
  font-size: 2vw;
  grid-area: estudos;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgConteudo {
  height: 15vw;
  margin: 0 2vw;
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.paragrafo {
  margin: auto auto;
  text-align: center;
  padding-bottom: 2vw;
}

.p-dialog .p-dialog-content:last-of-type {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  // display: flex;
  width: 50vw; 

  button {
    align-self: flex-end;
    margin-top: 10px;
  }
}

button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1vw;
  height: 4.5vw;
  max-height: 35px;
  width: 23vw;
  max-width: 170px;
  background: linear-gradient(45deg, var(--azul) 25%, #646262);
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 0px;
}