.main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 75%;
    align-items: center;
    justify-content: space-around;
}

.main>div {
    height: 160px;
    width: 30%;
    min-width: 180px;
    border: 1px solid #00ff00;
    border-radius: 8%;
    color: #43db71;
    padding: 7px 3px 0 7px;
    margin: 10px 0;
    transition: 500ms;
}

h1 {
    
}

.main>div:hover {
    background: rgba(3, 3, 3, 0.3);
}

.textoIlustrativo {
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center;
}